12 Publishing/VouchersDockerAngular
LabSolution/VouchersAPI/VouchersAPI/bin/Debug/netcoreapp2.0/Vouchers.dll
LabSolution/VouchersAPI/.vs/VouchersAPI/v15/Server/sqlite3/storage.ide
LabSolution/VouchersAPI/.vs/VouchersAPI/v15/Server/sqlite3/storage.ide-shm
LabSolution/VouchersAPI/.vs/VouchersAPI/v15/Server/sqlite3/storage.ide-wal
00 Voucherservice/VouchersAPI/VouchersAPI/bin/Debug/netcoreapp2.0/Vouchers.dll
00 Voucherservice/VouchersAPI/VouchersAPI/obj/Debug/netcoreapp2.0/VouchersAPI.csproj.CoreCompileInputs.cache
LabSolution/VouchersAPI/VouchersAPI/obj/Debug/netcoreapp2.0/VouchersAPI.csproj.CoreCompileInputs.cache
LabSolution/VouchersAPI/.vs/VouchersAPI/v15/sqlite3/storage.ide-shm
