a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 3px;
}

.imgCell {
  padding-top: 5px;
  vertical-align: middle;
}

.flexMain {
  flex: 800;
  min-width: 550px; 
}

.flexMenu {
  flex: 250;
  min-width: 250px;
}
